p, h1, h2, label, button, legend {
	
	font-family: 'Roboto', sans-serif;
}

.formElement {
	margin-bottom:1em;
}

.newsDiv{
	background-color: rgb(240,246,235);
	margin-bottom: 1em;
	clear:left;
	overflow:auto;
	padding:1em;
}

#fileFormStatus{
	display:none;
}
#fileuploadDiv{
	display:none;
}

#newsuploadDiv{
	display:none;
}

#newsFormStatus {
	display:none;
}

.imgContainer{
		background-color: rgb(240,246,235);
		display: inline-block;
		float:left;
		margin:1em;
		padding:1em;
		width:12em;
		height:12em;
}

.newsDiv:last-of-type{
	margin-bottom: 0em;
}

.image {
	height:auto;
	max-height:10em;
}



.image.newsImage {
	float:left;
	margin: 0em 1em 0em 0em;
	
}


.image.inlineImage {
	clear:left;
	float:left;
	margin: 0em 1em 0em 0em;
}

.image.inlineImage:not(:first-child){
	/*margin-top:1em;*/
	
}

.image.galleryImage {
	display:block;
	margin:0 auto;
	max-width:10em;
}


#meny {
	background-color: rgb(164, 201, 136);
	padding: 2em;
	top: 1%;
	left: 1%;
	right: 1%;
}

#logout{
	display:none;
	
}

#loginHider:hover, .menuText:hover, #logout:hover{
	color:white;
	cursor:pointer;
}

#login{
	display:none;
}

#mainContent {
	overflow:auto;
	margin-top:1em;
	padding:2em;
	background-color: rgb(209,228,195);
}


#foot {
	margin-top:1em;
	padding:2em;
	background-color:rgb(94,164,67);
	
}

#navHolder {
		width:98%;
		margin:0 auto;
}



.menuItem {
	display:inline-block;
	width:19.5%;
	border-right: 1px solid gray;
}

.menuItem:last-child{
	border:none;
}


.menuText{
	text-align:center;
	text-decoration:underline;
}

