
<form id="fileForm" method="POST" action="galleri.php" enctype="multipart/form-data">
<fieldset>
<legend>Ladda upp en galleribild</legend>

<input class="formElement" type="file" name="file" id="file"><br>

<label>Bildtext</label><br>
<textarea rows="5" cols="20" class="formElement" name="text" id="text"></textarea><br>

<button type="submit" id="fileuploadbtn">Ladda upp</button>



</fieldset>

</form> 