<p id="loginHider">Inloggning[+]</p>

<form action="index.php" method="post" id="login">
<label>Användare</label>
<input type="text" name="user" id="user">
<label>Lösenord</label>
<input type="password" name="pass" id="pass">
<button type="submit" id="signIn">Logga in</button>
</form>