<div id="navHolder">
<div class="menuItem"><p class="menuText" id="news">Nyheter</p></div>
<div class="menuItem"><p class="menuText" id="about">Om projektet</p></div>
<div class="menuItem"><p class="menuText" id="backsjon">Bäcksjön</p></div>
<div class="menuItem"><p class="menuText" id="gallery">Galleri</p></div>
<div class="menuItem"><p class="menuText">Något annat..</p></div>
</div>