
<form id="newsForm" method="POST" action="nyheter.php" enctype="multipart/form-data">
<fieldset>
<legend>Ladda upp en nyhet</legend>

<!--<label>Datum: </label><input class="formElement" type="date" name="date" id="date"><br>-->
<label>Titel: </label><input class="formElement" type="text" name="title" id="title"><br>
<input class="formElement" type="file" name="filenews" id="filenews"><br>

<label>Innehåll</label><br>
<textarea rows="5" cols="20" class="formElement" name="textnews" id="textnews"></textarea><br>

<button type="submit" id="newsuploadbtn">Ladda upp</button>



</fieldset>

</form> 